<div class="container">
  <h1>Cocktail's description</h1>
    <% if @cocktail.photo.present? %>
<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
<% else %>
 <img alt="random beverage"
     width="400"
     height="300"
     crop="fill"
     src="https://loremflickr.com/320/240/beverage" />
     <% end %>
  <h3><%= @cocktail.name %></h3>
  <ul>
    <%  @cocktail.doses.each do |dose| %>
      <li>
           <%= dose.description + ' of ' + dose.ingredient.name %>
           <%=link_to "", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash-alt" %>
      </li>
    <% end %>
  </ul>
<br>
  <%=link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>
<br><br><br>

  <%=link_to "Back to the list", cocktails_path %>
</div>


